
/* Variables */

:root{
    --background-color:rgb(3, 40, 59);
    --heading-color:rgb(255, 255, 255);
    --text-color:rgba(157, 160, 157, 0.689);
}


/* Body */
.app{
    background-color: var(--background-color);
}


/* Navbar */

.devStr{
  color: var(--heading-color);
}

.navbar .navList{
    color: var(--text-color);
}
.navbar{
   
    background-color: var(--background-color);
}

.upcontent{
    border-bottom: 1px solid black;
}

/* Input Box */


.inputBox{
    background-color: aquamarine;
    display: flex;
}

/* Container */

.upcontent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.upperPara{
    text-align: center;
    font-size: 50px;
    color: var(--heading-color);
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom: 30px;
   
   
}
.upperParaContent{
    width: 50vw;   
    text-align: center;
    color: var(--text-color);
    
}

.apiBox{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.APIcontainer{
    background-color: blueviolet;
    height: 52vh; 
    width: 80vw;
    text-align: center;
    border: 5px solid green;
}

/* Content Box */

.contentType{
    display: flex;
}