
/* Variables */

:root{
    --background-color:rgb(3, 40, 59);
    --heading-color:rgb(255, 255, 255);
    --text-color:rgba(157, 160, 157, 0.689);
}


/* Body */
.app{
    background-color: var(--background-color);
}


/* Navbar */

.devStr{
  color: var(--heading-color);
}

.navbar .navList{
    color: var(--text-color);
}
.navbar{
   
    background-color: var(--background-color);
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--text-color);
    
}

.upcontent{
    border-bottom: 1px solid black;
}

/* Input Box */


.inputBox{   
    display: flex;
    height: 10vh;
    align-items: center;
}

.inp{
    width: 65vw;
    margin-top: 23px;
}

.sendBtn{
    background-color: rgb(127, 243, 204);
    color: green;
    font-weight: bold;
}

.dropDownBtn{
    height: 6.5vh;
    background-color: rgb(127, 243, 204);
    color: green;
    text-align: left;
    font-weight: bold;
   
}

/* Container */

.upcontent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.upperPara{
    text-align: center;
    font-size: 50px;
    color: var(--heading-color);
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 30px;
   
   
}
.upperParaContent{
    width: 50vw;   
    text-align: center;
    color: var(--text-color);
    margin-bottom: 30px;
    
}

.apiBox{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.APIcontainer{
    background-color: var(--background-color);
    height: 60vh; 
    width: 80vw;
    text-align: center;
    border: 3px solid rgba(210, 213, 204, 0.703);
    border-radius: 10px;
    padding: 20px;
}

/* DropDown Button */
.dropDownBtn{
    width: 10vw;
}
/* Content Box */

.bodyContentHead{
    text-align: left;
    color: var(--heading-color);
}
.contentType{
    display: flex;
    color: var(--heading-color);
    margin-bottom: 10px;
}

.contentOption{
  color: var(--text-color);
}

/* Response Heading */

.respHead{
    text-align: left;
    color: var(--heading-color);
}